[submodule "3rdparty/runninglinuxkernel_4.0"]
	path = 3rdparty/runninglinuxkernel_4.0
	url = https://github.com/figozhang/runninglinuxkernel_4.0.git
[submodule "3rdparty/runninglinuxkernel_5.0"]
	path = 3rdparty/runninglinuxkernel_5.0
	url = https://github.com/figozhang/runninglinuxkernel_5.0.git
[submodule "3rdparty/Linux-Device-Driver-Development-Cookbook"]
	path = 3rdparty/Linux-Device-Driver-Development-Cookbook
	url = https://github.com/PacktPublishing/Linux-Device-Driver-Development-Cookbook.git
[submodule "3rdparty/dtc"]
	path = 3rdparty/dtc
	url = https://git.kernel.org/pub/scm/utils/dtc/dtc.git
[submodule "3rdparty/clayding_linux-4.12.1"]
	path = 3rdparty/clayding_linux-4.12.1
    url = https://gitee.com/clayding/linux-4.12.1
    branch = develop
[submodule "3rdparty/Linux-Device-Drivers-Development"]
	path = 3rdparty/Linux-Device-Drivers-Development
	url = https://github.com/PacktPublishing/Linux-Device-Drivers-Development.git
[submodule "3rdparty/rpi_linux"]
	path = 3rdparty/rpi_linux
	url = https://github.com/raspberrypi/linux.git
